body{
    background: linear-gradient(pink, blue, purple);
    height: 100vh; /* força o body a ter o tamanho do navegador*/
    display: flex; /* posiciona div dentro do corpo*/
    text-align: center;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}

img{
    width: 500px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.central {
    background: rgba(240, 218, 222, 0.568);
    width: fit-content;
    padding: 15px;
    border-radius: 18px;
}

/* formata uma div que ta dentro de uma din nomeada*/
.central div button{
    width: 150px;
    background: rgb(61, 10, 61);
    color: white;
    font-size: 13px;
    cursor: pointer;
    border-radius: 6px;
    border-color: rgb(8, 4, 8);
}

.central div button:hover{
    background: rgb(95, 42, 87);
    border-color: rgb(65, 29, 35);
}